<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.latinodistribuidora">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light">
        <activity android:name=".Actividades.Listar_Ciudad"></activity>
        <activity android:name=".Actividades.Opciones_Mantenimiento" />
        <activity android:name=".Actividades.Listar_Departamento" />
        <activity android:name=".Actividades.MenuPrincipal" />
        <activity android:name=".Actividades.Registrar_Usuario" />
        <activity android:name=".Actividades.Listar_Usuario" />
        <activity android:name=".Actividades.Editar_Usuario" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>