<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.latinodistribuidora">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light"

        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic"

        android:networkSecurityConfig="@xml/network_secutiry_config"
        >
        <activity android:name=".Actividades.ReportePDF_BD"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".Actividades.Listar_ventas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Listar_ProductosVenta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Listar_ClientesVenta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Registrar_venta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Editar_Producto"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Registrar_Productos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Listar_Productos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Editar_Clientes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Registrar_Clientes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Listar_Clientes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Editar_PE"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Registrar_PE"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Listar_PE"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Editar_Timbrado"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Registar_Timbrado"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Listar_Timbrado"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.ListarUM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Editar_UM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Registrar_UM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Editar_iva"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Registrar_iva"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Listar_IVA"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Editar_Division"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Registrar_Division"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Listar_Division"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Editar_Empresa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Registrar_Empresa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Listar_Empresa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Registrar_Ciudad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Registrar_Departamento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Editar_Departamento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Editar_Ciudad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Listar_Ciudad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Opciones_Mantenimiento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Listar_Departamento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.MenuPrincipal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Registrar_Usuario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Listar_Usuario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Editar_Usuario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>