<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.latinodistribuidora">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light">
        <activity android:name=".Actividades.Registrar_venta"></activity>
        <activity android:name=".Actividades.Editar_Producto" />
        <activity android:name=".Actividades.Registrar_Productos" />
        <activity android:name=".Actividades.Listar_Productos" />
        <activity android:name=".Actividades.Editar_Clientes" />
        <activity android:name=".Actividades.Registrar_Clientes" />
        <activity android:name=".Actividades.Listar_Clientes" />
        <activity android:name=".Actividades.Editar_PE" />
        <activity android:name=".Actividades.Registrar_PE" />
        <activity android:name=".Actividades.Listar_PE" />
        <activity android:name=".Actividades.Editar_Timbrado" />
        <activity android:name=".Actividades.Registar_Timbrado" />
        <activity android:name=".Actividades.Listar_Timbrado" />
        <activity android:name=".Actividades.ListarUM" />
        <activity android:name=".Actividades.Editar_UM" />
        <activity android:name=".Actividades.Registrar_UM" />
        <activity
            android:name=".Actividades.Editar_iva"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Registrar_iva"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Listar_IVA"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Editar_Division"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Registrar_Division"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Listar_Division"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Editar_Empresa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Registrar_Empresa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Listar_Empresa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Registrar_Ciudad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Registrar_Departamento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Editar_Departamento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Editar_Ciudad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Listar_Ciudad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Opciones_Mantenimiento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Listar_Departamento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.MenuPrincipal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Registrar_Usuario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Listar_Usuario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Actividades.Editar_Usuario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>